{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": ["last 2 versions"]
                },
                "debug": true
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime", 
        "@babel/plugin-proposal-class-properties", 
        "react-hot-loader/babel",
        ["emotion", {"sourceMap": true, "autoLabel": true}]
    ]
}